# Exclude these files from exports (releases)
.idea/ export-ignore
*.def.lua export-ignore
*.ts export-ignore
*.js export-ignore
package.json export-ignore
package-lock.json export-ignore
.lintstagedrc.json export-ignore
tsconfig* export-ignore
.husky/ export-ignore
scripts/ export-ignore
VERSION_FILE export-ignore
DESCRIPTION_FILE export-ignore
